@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
}
.container {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  border: 4px solid rgb(0, 126, 128);
}
.input-display {
  border-bottom: 5px solid hsla(0 0% 93%);
}
input[type='number'] {
  height: 65px;
  border: none;
  outline: none;
  text-align: end;
  caret-color: transparent;
  font-size: 2.6em;
  padding: 0.5em;
}
.previous,
.current {
  width: 520px;
  background: white;
  text-align: end;

  display: flex;
  align-items: flex-end;
  justify-content: end;
  font-weight: 900;
}
.current {
  font-size: 75px;
  height: 100px;
}
.previous {
  font-size: 40px;
  height: 60px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.keys {
  display: flex;
}
.number-keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.operation-signs {
  display: grid;
  grid-template-columns: 1fr;
  border-left: 12px solid hsl(0deg 0% 70%);
}
.number-keys button,
.operation-signs button {
  padding: 1em 2em;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.operation-signs button {
  background: hsl(128deg 3% 40%);
  font-size: 20px;
  color: white;
}
button[data-equals]:hover {
  background: hsl(152deg 60% 70%);
}
button[data-equals] {
  background: rgb(52, 188, 125);
}

.flex {
  display: flex;
}

button[data-number]:hover,
button[data-decimal]:hover {
  background: hsl(152, 19%, 67%);
}
button[data-operation]:hover {
  color: hsl(0, 3%, 14%);
  background: hsl(152, 8%, 85%);
}
